# IDE & System Related Files #
.buildpath
.project
.settings
.DS_Store
.idea
.vscode

# Dependencies #
node_modules/

# Builds #
package/
dist/

# CSS map files #
.map

# OSX #
._*
.Spotlight-V100
.Trashes

# Windows #
Thumbs.db
Desktop.ini

# iTunes libbrary #
library.xml
library.json

# Never ignore #
!/.gitignore
