.error {
	position: relative;
	display: none;
	padding: 1rem 1.5rem;
	margin-bottom: 1.5rem;
	color: var(--colour-white);
	background-color: var(--error-background-colour);

	&.show {
		display: block;
	}
}
