.form-group {
	padding: 1rem;
	border-bottom: 1px solid var(--colour-primary);
}

.form-help {
	margin-bottom: .3rem;
	font-size: .8rem;
	color: var(--colour-text);
}

label {
	display: block;
	margin-bottom: .5rem;
	font-weight: 700;
}

button {
	display: inline-flex;
	padding: .5rem 1rem;
	line-height: 1;
	color: var(--colour-white);
	background-color: var(--colour-primary);
	border: 1px solid var(--colour-primary);
	border-radius: var(--border-radius-lg);
	align-items: center;
}

input:not([type="checkbox"]),
input:not([type="radio"]) {
	display: block;
	width: 100%;
	max-width: 280px;
	padding: 0 .75rem;
	height: 2.5rem;
	box-shadow: none;
	outline: none;
	margin: 0;
	border: 1px solid var(--colour-primary);
	border-radius: var(--border-radius-lg);
	background-color: var(--colour-dark-3);
	font-family: inherit;
	font-size: inherit;
	color: var(--color-text);
}
