*, ::before, ::after {
	box-sizing: border-box;
}

html {
	background-color: var(--colour-dark-2);
	font-family: var(--font-family);
	font-size: 16px;
	text-align: start;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	line-height: 1.5;
	color: var(--colour-text-lighter);
}

body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
}

.grid {
	display: flex;
}

.container {
	flex: 1;
}
.list {
	overflow-y: auto;
	height: calc(100vh - var(--player-height));
}
