.player {
	margin: 0;

	audio {
		width: 40vw;
		filter: invert(95%);

		&:focus {
			outline: 0;
		}
	}

	figcaption {
		margin-bottom: .5rem;
	}

	figcaption span {
		font-weight: 500;
		color: var(--colour-primary);
	}
}
