.player {
	margin: 0;

	audio {
		width: 40vw;
		filter: sepia(50%) saturate(60%) grayscale(1) contrast(90%) invert(96%);

		&:focus {
			outline: 0;
		}
	}

	figcaption {
		margin-bottom: .5rem;
	}

	figcaption span {
		font-weight: 500;
		color: var(--colour-primary);
	}
}

.player-actions {
	display: flex;
	align-items: center;

	button {
		margin-inline-start: 1rem;
	}
}
