name: Build

on: [push, pull_request]

env:
  CI: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        node: [24]

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}

      - run: npm i
      - run: node setup.js

      - name: Build MacOS
        if: startsWith(matrix.os, 'macos')
        run: npm i dmg-license && npm run build:macos

      - name: Build Windows
        if: startsWith(matrix.os, 'windows')
        run: npm run build:win

      - name: Build Linux
        if: startsWith(matrix.os, 'ubuntu')
        run: npm run build:linux
